:root {
  font-family: "Poppins", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0 auto;
  width: 50%;
  min-width: 50%;
  min-height: 100vh;
  background: #020024;
  background: #a4a4ba;
  background-image: linear-gradient(
    to right bottom,
    #204d90,
    #1b3c6f,
    #152b50,
    #101c33,
    #040918
  );

  color: white;
}
